html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-left: 16px;
    margin-right: 16px;
    background-color: white;
}
.headerDesktop {
    height: 220px;
    background: linear-gradient(0deg, rgba(25, 93, 131, 0.8), rgba(25, 93, 131, 0.8)), url('/images/header.png' );
    /* background-image: url('/images/header.jpg' );*/
    background-repeat: no-repeat;
  padding-top: 20px;
}
.headerMobile {
    height: 180px;
    background: linear-gradient(0deg, rgba(25, 93, 131, 0.8), rgba(25, 93, 131, 0.8)), url('/images/header.png' );
    /* background-image: url('/images/header.jpg' );*/
    background-repeat: no-repeat;
  padding-top: 20px;
}
footer {
    position: absolute;
    bottom: 0;
    background-color: #004B76;
    width: 97%;
    padding: 2px
}
.txtWhiteheader {
    color: white;
    font-family: "  Tahoma, Geneva, Verdana, sans-serif ";
    font-size: 5vw;
    margin-left: 16px;
    align-content:center;
}
.primaryColor{
    background-color: #195d83;
    width:120px;
}
.bgCollapse {
    background-color: #195d83;
}
.buttoncontinue {
    background-color: #195d83;
    color: white;
    width: 40px;
    padding: 2px;
    border: 2px solid #e5edf1;
    border-radius: 5px;
}
.buttoncontinue:hover {
    background-color: #004B76;
    color: white;
    width: 40px;
    padding: 2px;
   
}


.circleheaderMobile {
    height: 120px;
    width: 120px;
    border: 2px solid white;
    border-radius: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 4px;
    cursor: pointer;
    background-color: white;
    padding-top: 3px;
}


.circleheaderDesktop {

    height: 150px;
    width: 150px;
    border: 2px solid white;
    border-radius: 100%;
    justify-content:center;
    align-items:center;
    display:flex;
    margin:4px;
    cursor: pointer;
    padding-top: 3px;
    background-color:white;
}

.divcol1 {
    border: 2px solid #d8d8d8;
    margin-right: 8px;
    margin-left: 0;
    padding-top: 0px;
    overflow: hidden;
    border-start-end-radius: 20px;
    border-start-start-radius: 20px ;
    z-index: 1;
}

.centerdiv {
    justify-content: center;
    align-items: center;
    display: flex;
}
.containerBG{
    background-color:#f2f2f2;
}

 /* Dropdown Button */
.dropbtn {
    color: white;
    border: none;
    cursor: pointer;
    z-index: 1;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
    z-index: 9999;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    /*  position: absolute;*/
    
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 9999;
}

/* Links inside the dropdown */
    .dropdown-content a {
        
        color: black;
        padding: 4px 8px;
        text-decoration: none;
        display: block;
        z-index: 9999;
    }

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;} 